body{
    margin: 0;
    padding: 0;
}

button{
    background-color: #94ebdf;
    border: none;
    padding: .8rem 1.5rem;
    border-radius: 1.5rem;
    color: #666;
    cursor: pointer;
}